[submodule "RunStartControl"]
	path = RunStartControl
	url = https://github.com/Museus/RunStartControl.git
[submodule "sgg-mod-modutil"]
	path = sgg-mod-modutil
	url = https://github.com/SGG-Modding/sgg-mod-modutil.git
[submodule "HellModeToggle"]
	path = HellModeToggle
	url = https://github.com/cgullsHadesMods/HellModeToggle
[submodule "DontGetVorimed"]
	path = DontGetVorimed
	url = https://github.com/cgullsHadesMods/DontGetVorimed
[submodule "hades-SplitDisplay"]
	path = hades-SplitDisplay
	url = https://github.com/cgullsHadesMods/hades-SplitDisplay.git
