[submodule "RunStartControl"]
	path = RunStartControl
	url = https://github.com/Museus/RunStartControl.git
[submodule "sgg-mod-modutil"]
	path = ModUtil
	url = https://github.com/SGG-Modding/sgg-mod-modutil.git
[submodule "HellModeToggle"]
	path = HellModeToggle
	url = https://github.com/cgullsHadesMods/HellModeToggle
[submodule "DontGetVorimed"]
	path = DontGetVorimed
	url = https://github.com/cgullsHadesMods/DontGetVorimed
[submodule "hades-CharonSackControl"]
	path = hades-CharonSackControl
	url = https://github.com/cgullsHadesMods/hades-CharonSackControl.git
[submodule "hades-RunHistoryWipe"]
	path = hades-RunHistoryWipe
	url = https://github.com/cgullsHadesMods/hades-RunHistoryWipe
