[submodule "RunStartControl"]
	path = RunStartControl
	url = https://github.com/Museus/RunStartControl.git
[submodule "sgg-mod-modutil"]
	path = sgg-mod-modutil
	url = https://github.com/SGG-Modding/sgg-mod-modutil.git
